<a href="https://colab.research.google.com/github/mohan-kv/mohan-kv/blob/main/CIE(2)158CS22027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving CIE2027.csv to CIE2027.csv

In [ ]:
import pandas as pd
data=pd.read_csv('/content/CIE2027.csv')
print(data)

     Unnamed: 0  Hindi  English  Science  Maths  History  Geograpgy  Total  \
0             0     65       10       59      3       71         37    245
1             1     94       56        4     67       91         50    362
2             2      7       85       76     99       60         25    352
3             3     88       46       59     94       52         38    377
4             4     39       81       37     38        6         54    255
..          ...    ...      ...      ...    ...      ...        ...    ...
995         995     55       89       68     58       13         13    296
996         996     42       62       25     87       51         68    335
997         997      9       83       70     14       11         78    265
998         998     23       82       31     42       84         52    314
999         999     75       78       68     33       79         91    424

     Results  Div
0          0    3
1          1    1
2          0    2
3          1    1
4          1    3
..       ...  ...
995        0    2
996        1    2
997        0    3
998        0    2
999        1    1

[1000 rows x 10 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1000 non-null   int64
 1   Hindi       1000 non-null   int64
 2   English     1000 non-null   int64
 3   Science     1000 non-null   int64
 4   Maths       1000 non-null   int64
 5   History     1000 non-null   int64
 6   Geograpgy   1000 non-null   int64
 7   Total       1000 non-null   int64
 8   Results     1000 non-null   int64
 9   Div         1000 non-null   int64
dtypes: int64(10)
memory usage: 78.2 KB

In [ ]:
data.describe()

,Unnamed: 0,Hindi,English,Science,Maths,History,Geograpgy,Total,Results,Div
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000
mean,499.500000,51.645000,50.110000,49.440000,49.553000,49.03400,50.028000,299.810000,0.350000,1.856000
std,288.819436,29.471912,28.048505,28.921114,28.632447,28.76975,28.710268,71.865239,0.477208,0.904479
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,103.000000,0.000000,0.000000
25%,249.750000,26.000000,26.000000,25.000000,25.750000,24.00000,26.000000,254.000000,0.000000,1.000000
50%,499.500000,53.000000,50.500000,50.000000,49.000000,49.00000,49.000000,296.000000,0.000000,2.000000
75%,749.250000,77.000000,75.000000,73.250000,74.000000,73.25000,75.000000,349.250000,1.000000,3.000000
max,999.000000,99.000000,99.000000,99.000000,99.000000,99.00000,99.000000,505.000000,1.000000,3.000000

In [ ]:
data.isna().sum()

Unnamed: 0    0
Hindi         0
English       0
Science       0
Maths         0
History       0
Geograpgy     0
Total         0
Results       0
Div           0
dtype: int64

In [ ]:
import numpy as np
d1=data.replace(38,np.nan)
print(d1)

     Unnamed: 0  Hindi  English  Science  Maths  History  Geograpgy  Total  \
0           0.0   65.0     10.0     59.0    3.0     71.0       37.0    245
1           1.0   94.0     56.0      4.0   67.0     91.0       50.0    362
2           2.0    7.0     85.0     76.0   99.0     60.0       25.0    352
3           3.0   88.0     46.0     59.0   94.0     52.0        NaN    377
4           4.0   39.0     81.0     37.0    NaN      6.0       54.0    255
..          ...    ...      ...      ...    ...      ...        ...    ...
995       995.0   55.0     89.0     68.0   58.0     13.0       13.0    296
996       996.0   42.0     62.0     25.0   87.0     51.0       68.0    335
997       997.0    9.0     83.0     70.0   14.0     11.0       78.0    265
998       998.0   23.0     82.0     31.0   42.0     84.0       52.0    314
999       999.0   75.0     78.0     68.0   33.0     79.0       91.0    424

     Results  Div
0          0    3
1          1    1
2          0    2
3          1    1
4          1    3
..       ...  ...
995        0    2
996        1    2
997        0    3
998        0    2
999        1    1

[1000 rows x 10 columns]

Number of missing values

In [ ]:
d1.isna().sum()

Unnamed: 0     1
Hindi          7
English        7
Science        8
Maths         18
History        8
Geograpgy     19
Total          0
Results        0
Div            0
dtype: int64

In [ ]:
d1.dropna()

,Unnamed: 0,Hindi,English,Science,Maths,History,Geograpgy,Total,Results,Div
0,0.0,65.0,10.0,59.0,3.0,71.0,37.0,245,0,3
1,1.0,94.0,56.0,4.0,67.0,91.0,50.0,362,1,1
2,2.0,7.0,85.0,76.0,99.0,60.0,25.0,352,0,2
5,5.0,51.0,43.0,14.0,53.0,64.0,59.0,284,1,2
7,7.0,18.0,23.0,97.0,65.0,15.0,20.0,238,0,3
...,...,...,...,...,...,...,...,...,...,...
995,995.0,55.0,89.0,68.0,58.0,13.0,13.0,296,0,2
996,996.0,42.0,62.0,25.0,87.0,51.0,68.0,335,1,2
997,997.0,9.0,83.0,70.0,14.0,11.0,78.0,265,0,3
998,998.0,23.0,82.0,31.0,42.0,84.0,52.0,314,0,2
999,999.0,75.0,78.0,68.0,33.0,79.0,91.0,424,1,1

In [ ]:
d1.dropna(axis=1)

     Total  Results  Div
0      245        0    3
1      362        1    1
2      352        0    2
3      377        1    1
4      255        1    3
..     ...      ...  ...
995    296        0    2
996    335        1    2
997    265        0    3
998    314        0    2
999    424        1    1

[1000 rows x 3 columns]

In [ ]:
print(d1)

     Unnamed: 0  Hindi  English  Science  Maths  History  Geograpgy  Total  \
0           0.0   65.0     10.0     59.0    3.0     71.0       37.0    245
1           1.0   94.0     56.0      4.0   67.0     91.0       50.0    362
2           2.0    7.0     85.0     76.0   99.0     60.0       25.0    352
3           3.0   88.0     46.0     59.0   94.0     52.0        NaN    377
4           4.0   39.0     81.0     37.0    NaN      6.0       54.0    255
..          ...    ...      ...      ...    ...      ...        ...    ...
995       995.0   55.0     89.0     68.0   58.0     13.0       13.0    296
996       996.0   42.0     62.0     25.0   87.0     51.0       68.0    335
997       997.0    9.0     83.0     70.0   14.0     11.0       78.0    265
998       998.0   23.0     82.0     31.0   42.0     84.0       52.0    314
999       999.0   75.0     78.0     68.0   33.0     79.0       91.0    424

     Results  Div
0          0    3
1          1    1
2          0    2
3          1    1
4          1    3
..       ...  ...
995        0    2
996        1    2
997        0    3
998        0    2
999        1    1

[1000 rows x 10 columns]

In [ ]:
dat=d1.fillna(method='ffill')
print(dat)

     Unnamed: 0  Hindi  English  Science  Maths  History  Geograpgy  Total  \
0           0.0   65.0     10.0     59.0    3.0     71.0       37.0    245
1           1.0   94.0     56.0      4.0   67.0     91.0       50.0    362
2           2.0    7.0     85.0     76.0   99.0     60.0       25.0    352
3           3.0   88.0     46.0     59.0   94.0     52.0       25.0    377
4           4.0   39.0     81.0     37.0   94.0      6.0       54.0    255
..          ...    ...      ...      ...    ...      ...        ...    ...
995       995.0   55.0     89.0     68.0   58.0     13.0       13.0    296
996       996.0   42.0     62.0     25.0   87.0     51.0       68.0    335
997       997.0    9.0     83.0     70.0   14.0     11.0       78.0    265
998       998.0   23.0     82.0     31.0   42.0     84.0       52.0    314
999       999.0   75.0     78.0     68.0   33.0     79.0       91.0    424

     Results  Div
0          0    3
1          1    1
2          0    2
3          1    1
4          1    3
..       ...  ...
995        0    2
996        1    2
997        0    3
998        0    2
999        1    1

[1000 rows x 10 columns]

<ipython-input-29-fd105aeada01>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dat=d1.fillna(method='ffill')

In [ ]:
dat1=d1.fillna(method='bfill')
print(dat1)

     Unnamed: 0  Hindi  English  Science  Maths  History  Geograpgy  Total  \
0           0.0   65.0     10.0     59.0    3.0     71.0       37.0    245
1           1.0   94.0     56.0      4.0   67.0     91.0       50.0    362
2           2.0    7.0     85.0     76.0   99.0     60.0       25.0    352
3           3.0   88.0     46.0     59.0   94.0     52.0       54.0    377
4           4.0   39.0     81.0     37.0   53.0      6.0       54.0    255
..          ...    ...      ...      ...    ...      ...        ...    ...
995       995.0   55.0     89.0     68.0   58.0     13.0       13.0    296
996       996.0   42.0     62.0     25.0   87.0     51.0       68.0    335
997       997.0    9.0     83.0     70.0   14.0     11.0       78.0    265
998       998.0   23.0     82.0     31.0   42.0     84.0       52.0    314
999       999.0   75.0     78.0     68.0   33.0     79.0       91.0    424

     Results  Div
0          0    3
1          1    1
2          0    2
3          1    1
4          1    3
..       ...  ...
995        0    2
996        1    2
997        0    3
998        0    2
999        1    1

[1000 rows x 10 columns]

<ipython-input-30-7c392607f3db>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  dat1=d1.fillna(method='bfill')

In [ ]:
d1['Maths']=d1['Maths'].fillna(d1['Maths'].mean())
print(d1['Maths'])

0       3.000000
1      67.000000
2      99.000000
3      94.000000
4      49.764766
         ...
995    58.000000
996    87.000000
997    14.000000
998    42.000000
999    33.000000
Name: Maths, Length: 1000, dtype: float64

In [ ]:
d1['Hindi']=d1['Hindi'].fillna(d1['Hindi'].median())
print(d1['Hindi'])

0      65.0
1      94.0
2       7.0
3      88.0
4      39.0
       ...
995    55.0
996    42.0
997     9.0
998    23.0
999    75.0
Name: Hindi, Length: 1000, dtype: float64

In [ ]:
d1['Scince']=d1['Science'].fillna(d1['Science'].mode())
print(d1['Science'])

0      59.0
1       4.0
2      76.0
3      59.0
4      37.0
       ...
995    68.0
996    25.0
997    70.0
998    31.0
999    68.0
Name: Science, Length: 1000, dtype: float64

In [ ]:
print(d1)

     Unnamed: 0  Hindi  English  Science  Maths  History  Geograpgy  Total  \
0           0.0   65.0     10.0     59.0    3.0     71.0       37.0    245
1           1.0   94.0     56.0      4.0   67.0     91.0       50.0    362
2           2.0    7.0     85.0     76.0   99.0     60.0       25.0    352
3           3.0   88.0     46.0     59.0   94.0     52.0        NaN    377
4           4.0   39.0     81.0     37.0    NaN      6.0       54.0    255
..          ...    ...      ...      ...    ...      ...        ...    ...
995       995.0   55.0     89.0     68.0   58.0     13.0       13.0    296
996       996.0   42.0     62.0     25.0   87.0     51.0       68.0    335
997       997.0    9.0     83.0     70.0   14.0     11.0       78.0    265
998       998.0   23.0     82.0     31.0   42.0     84.0       52.0    314
999       999.0   75.0     78.0     68.0   33.0     79.0       91.0    424

     Results  Div
0          0    3
1          1    1
2          0    2
3          1    1
4          1    3
..       ...  ...
995        0    2
996        1    2
997        0    3
998        0    2
999        1    1

[1000 rows x 10 columns]

In [ ]:
dc=d1['English']
lower_cap=45
upper_cap=70
result=dc.clip(lower=lower_cap,upper=upper_cap)
print(result)

0      45.0
1      56.0
2      70.0
3      46.0
4      70.0
       ...
995    70.0
996    62.0
997    70.0
998    70.0
999    70.0
Name: English, Length: 1000, dtype: float64

In [ ]:
zrs=data.mean()/data.std()
print('Z_scores:\n',zrs)

thershold=2
result1=zrs[np.abs(zrs) < thershold]
print('Thershold:\n',result1)

Z_scores:
 Unnamed: 0    1.732405
Hindi         1.750773
English       1.784485
Science       1.706875
Maths         1.724904
History       1.701613
Geograpgy     1.736857
Total         4.171836
Results       0.733432
Div           2.052010
dtype: float64
Thershold:
 Unnamed: 0    1.732405
Hindi         1.750773
English       1.784485
Science       1.706875
Maths         1.724904
History       1.701613
Geograpgy     1.736857
Results       0.733432
dtype: float64

In [ ]:
from scipy.spatial.distance import mahalanobis

data1=data[['Hindi','English']]
cv=np.cov(data1.T)
ivm=np.linalg.inv(cv)

d11=data1.mean().values
print(d11)

[51.74118832 50.19536757]

In [ ]:
d22=data.sum()
print(d22)
redu=d22.apply(lambda x: x >= 4000)
print(redu)

Unnamed: 0    499462.0
Hindi          51379.0
English        49844.0
Science        49136.0
Maths          48869.0
History        48730.0
Geograpgy      49306.0
Total         299810.0
Results          350.0
Div             1856.0
dtype: float64
Unnamed: 0     True
Hindi          True
English        True
Science        True
Maths          True
History        True
Geograpgy      True
Total          True
Results       False
Div           False
dtype: bool

Integration

In [ ]:
from sklearn.manifold import TSNE
from sklearn.preprocessing import StandardScaler
d23=data[['Hindi','English']]
target=StandardScaler().fit_transform(d23)
print(target)

[[ 0.44886617 -1.42969695]
 [ 1.43063733  0.20646323]
 [-1.51467615  1.23795551]
 ...
 [-1.4469678   1.16681811]
 [-0.97300931  1.13124941]
 [ 0.78740795  0.98897461]]

In [ ]:
data['English']=data['English'].rank()
print(data['English'])

0       94.5
1      556.5
2      859.0
3      443.5
4      808.5
       ...
995    902.5
996    615.0
997    837.5
998    822.5
999    779.5
Name: English, Length: 1000, dtype: float64