<a href="https://colab.research.google.com/github/mohan-kv/mohan-kv/blob/main/melt_and_pivot_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'date': ['2021-01-01', '2021-01-01', '2021-01-02', '2021-01-02'],
    'city': ['Delhi', 'Hyderabad', 'Delhi', 'Hyderabad'],
    'temperature': [30, 50, 31, 55]
}

df = pd.DataFrame(data)
pivot_df = df.pivot(index='date', columns='city', values='temperature')
print(pivot_df)

city        Delhi  Hyderabad
date
2021-01-01     30         50
2021-01-02     31         55

In [ ]:
import pandas as pd

data = {
    'date': ['2021-01-01', '2021-01-02'],
    'Banglore': [30, 31],
    'Mumbai': [50, 55]
}

df = pd.DataFrame(data)
melt_df = pd.melt(df, id_vars=['date'], var_name='city', value_name='temperature')
print(melt_df)

         date      city  temperature
0  2021-01-01  Banglore           30
1  2021-01-02  Banglore           31
2  2021-01-01    Mumbai           50
3  2021-01-02    Mumbai           55