<a href="https://colab.research.google.com/github/mohan-kv/mohan-kv/blob/main/practice204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving student-mat.csv to student-mat.csv

In [ ]:
import pandas as pd
data=pd.read_csv('/content/student-mat.csv')
print(data)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

In [ ]:
import numpy as np
data1=data.select_dtypes(include=np.number).columns
print(data1)
df=data[data1]
df.mean()

Index(['age', 'Medu', 'Fedu', 'traveltime', 'studytime', 'failures', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'G3'],
      dtype='object')
age           16.696203
Medu           2.749367
Fedu           2.521519
traveltime     1.448101
studytime      2.035443
failures       0.334177
famrel         3.944304
freetime       3.235443
goout          3.108861
Dalc           1.481013
Walc           2.291139
health         3.554430
absences       5.708861
G1            10.908861
G2            10.713924
G3            10.415190
dtype: float64

In [ ]:
df.median()

age           17.0
Medu           3.0
Fedu           2.0
traveltime     1.0
studytime      2.0
failures       0.0
famrel         4.0
freetime       3.0
goout          3.0
Dalc           1.0
Walc           2.0
health         4.0
absences       4.0
G1            11.0
G2            11.0
G3            11.0
dtype: float64

In [ ]:
df.mode()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,16,4,2,1,2,0,4,3,3,1,1,5,0,10,9,10

In [ ]:
d1=df.max()-df.min()
print(d1)

age            7
Medu           4
Fedu           4
traveltime     3
studytime      3
failures       3
famrel         4
freetime       4
goout          4
Dalc           4
Walc           4
health         4
absences      75
G1            16
G2            19
G3            20
dtype: int64

In [ ]:
df.std()

age           1.276043
Medu          1.094735
Fedu          1.088201
traveltime    0.697505
studytime     0.839240
failures      0.743651
famrel        0.896659
freetime      0.998862
goout         1.113278
Dalc          0.890741
Walc          1.287897
health        1.390303
absences      8.003096
G1            3.319195
G2            3.761505
G3            4.581443
dtype: float64

In [ ]:
df.var()

age            1.628285
Medu           1.198445
Fedu           1.184180
traveltime     0.486513
studytime      0.704324
failures       0.553017
famrel         0.803997
freetime       0.997725
goout          1.239388
Dalc           0.793420
Walc           1.658678
health         1.932944
absences      64.049541
G1            11.017053
G2            14.148917
G3            20.989616
dtype: float64

In [ ]:
import scipy.stats as stats

t_statistic,p_value=stats.ttest_1samp(df,5.9)
print(f"t_statistic :{t_statistic}")
print(f"P value: {p_value}")

t_statistic :[ 168.15289751  -57.19884954  -61.70368353 -126.8518053   -91.51913495
 -148.75061545  -43.34837466  -53.01735387  -49.82833271  -98.59835145
  -55.69134154  -33.53028877   -0.47466848   29.99195544   25.43525979
   19.58719807]
P value: [0.00000000e+000 6.34049007e-193 1.35035063e-204 1.42290906e-321
 1.43913379e-267 0.00000000e+000 5.06544313e-152 2.00058595e-181
 3.47864864e-172 8.74187735e-280 7.42238301e-189 1.79967341e-117
 6.35286270e-001 9.46099421e-104 3.84947130e-085 3.83332888e-060]

In [ ]:
import scipy.stats as stats

chi2,p,dof,excepected=stats.chi2_contingency(df)
print(chi2)
print(p)
print(df)
print(excepected)

6940.4087108224085
1.3185021363795312e-19
     age  Medu  Fedu  traveltime  studytime  failures  famrel  freetime  \
0     18     4     4           2          2         0       4         3
1     17     1     1           1          2         0       5         3
2     15     1     1           1          2         3       4         3
3     15     4     2           1          3         0       3         2
4     16     3     3           1          2         0       4         3
..   ...   ...   ...         ...        ...       ...     ...       ...
390   20     2     2           1          2         2       5         5
391   17     3     1           2          1         0       2         4
392   21     1     1           1          1         3       5         5
393   18     3     2           3          1         0       4         4
394   19     1     1           1          1         0       3         2

     goout  Dalc  Walc  health  absences  G1  G2  G3
0        4     1     1       3         6   5   6   6
1        3     1     1       3         4   5   5   6
2        2     2     3       3        10   7   8  10
3        2     1     1       5         2  15  14  15
4        2     1     2       5         4   6  10  10
..     ...   ...   ...     ...       ...  ..  ..  ..
390      4     4     5       4        11   9   9   9
391      5     3     4       2         3  14  16  16
392      3     3     3       3         3  10   8   7
393      1     3     4       5         0  11  12  10
394      3     3     3       5         5   8   9   9

[395 rows x 16 columns]
[[14.19695504  2.33781549  2.14407388 ...  9.27591801  9.1101613
   8.85614451]
 [11.93367236  1.96512027  1.802265   ...  7.79714847  7.65781674
   7.44429539]
 [15.43147287  2.5411038   2.33051508 ... 10.08251958  9.90234923
   9.62624403]
 ...
 [16.04873179  2.64274795  2.42373569 ... 10.48582036 10.2984432
  10.01129379]
 [16.6659907   2.7443921   2.51695629 ... 10.88912114 10.69453717
  10.39634356]
 [15.01996693  2.47334103  2.26836802 ...  9.81365239  9.63828659
   9.36954419]]

In [ ]:
import scipy.stats as stats

df['Medu']=df['Medu'].dropna()
df['Fedu']=df['Fedu'].dropna()
f_statistic,p_value=stats.f_oneway(
    df['Medu'][df['Fedu'] > 2],
    df['Medu'][(df['Fedu'] >=2 ) & (df['Fedu'] < 3)],
    df['Medu'][df['Fedu'] > 3]
)
print(f_statistic)
print(p_value)

69.14667256209721
1.4918055464865566e-26

In [ ]:
import scipy.stats as stats

df['Medu']=df['Medu'].dropna()
df['Fedu']=df['Fedu'].dropna()

younger=df[df['Medu']>3]['Fedu']
older=df[df['Medu']>2]['Fedu']
stats,p_val=stats.mannwhitneyu(younger,older)
print(stats)
print(p_val)

17919.0
0.0013758984484868505

In [ ]:
print(data)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

In [ ]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [ ]:
import sklearn.preprocessing as StandardScaler
import numpy as np
d1=np.array([[1,2],[3,4],[5,6]])
scaler=StandardScaler()
df1=scaler.fit_transform(d1)
print(df1)

TypeError: 'module' object is not callable

TypeError: 'module' object is not callable