<a href="https://colab.research.google.com/github/mohan-kv/mohan-kv/blob/main/sample_data_redduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

d1={'Days':[212,243,273,304,335,365],
    'Months':[7,8,9,10,11,12]}
data=pd.DataFrame(d1)
print(data)

   Days  Months
0   212       7
1   243       8
2   273       9
3   304      10
4   335      11
5   365      12

In [ ]:
ds=data.sample(frac=0.2,random_state=1)
print("Original dataframe:\n",data)
print("reduction data:\n",ds)

Original dataframe:
    Days  Months
0   212       7
1   243       8
2   273       9
3   304      10
4   335      11
5   365      12
reduction data:
    Days  Months
2   273       9